{% extends 'hall/base.html' %}

{% block content %}
<div class="container">
    <h2>Add Video to {{ hall.title }}</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Video</button>
    </form>
    <h2>OR</h2>
    <form action="">
        {{ search_form }}
    </form>
    <!--No need of search button | Will be done by AJAX call-->
    <div id='search_results'>

    </div>
    <script>
        var delayTimer;
        $('#id_search_term').keyup(function () {
            clearTimeout(delayTimer);
            $('#search_results').text('Loading...');
            delayTimer = setTimeout(function () {
                var text = $('#id_search_term').val();
                $.ajax({
                    url: '/video/search',
                    data: { 'search_term': text },
                    dataType: 'json',
                    success: function (data) {
                        var results = '';
                        $('#search_results').text('');
                        results += '<div class="row"';
                        data['items'].forEach(function (video) {
                            results += '<div class="col-md-4 mt-3"><div class="card md-3 shadow-sm">';
                            results += '<iframe width="100%" height="225" src="https://www.youtube.com/embed/' + video['id']['videoId'] + '" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
                            results += '<div class="card-body"><p class="card-text"> ' + video['snippet']['title'] + ' </p>';
                            results += '<a href="#" class="btn btn-primary" onclick="addVideo()">Add</a>';
                            results += '</div></div></div>';
                        });
                        results += '</div>';
                        $('#search_results').append(results);
                    }
                });
            }, 1000);
        });
    </script>
</div>
{% endblock %}