{% extends 'hall/base.html' %}

{% block content %}
<div class="container">
    <h2>Add Video to {{ hall.title }}</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Video</button>
    </form>
    <h2>OR</h2>
    <form action="">
        {{ search_form }}
    </form>
    <!--No need of search button | Will be done by AJAX call-->
    <div id='search_results'>

    </div>
    <script>
        var delayTimer;
        $('#id_search_term').keyup(function () {
            clearTimeout(delayTimer);
            $('#search_results').text('Loading...');
            delayTimer = setTimeout(function () {
                var text = $('#id_search_term').val();
                $.ajax({
                    url: '/video/search',
                    data: { 'search_term': text },
                    dataType: 'json',
                    success: function (data) {
                        $('#search_results').text(data['Hello']);
                    }
                });
            }, 1000);
        });
    </script>
</div>
{% endblock %}